.sl-player {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 44px;
  font-size: 2em;
  border-radius: 50%;
  border: 2px solid;
  margin: 0 4px;
}

.sl-player-playing {
  color: #ffffff;
}

.sl-player-1 {
  border-color: #00b3ee;
}

.sl-player-playing.sl-player-1 {
  background: #00b3ee;
}

.sl-player-2 {
  border-color: #3c763d;
}

.sl-player-playing.sl-player-2 {
  background: #3c763d;
}

.sl-player-3 {
  border-color: #761c19;
}

.sl-player-playing.sl-player-3 {
  background: #761c19;
}

.sl-player-4 {
  border-color: #985f0d;
}

.sl-player-playing.sl-player-4 {
  background: #985f0d;
}

.sl-players-note {
  color: #ababab;
  font-size: 0.9em;
  margin: 4px;
}

.sl-game-play-header,
.sl-game-play-body > section {
  padding-bottom: 2px;
  border-bottom: thin solid #cecece;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
}

.sl-dice {
  width: 48px;
  height: 48px;
  display: inline-block;
  border: thin solid #999;
  line-height: 46px;
  font-size: 1.5em;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.sl-dice-container {
  text-align: center;
}