<svg xmlns="http://www.w3.org/2000/svg"
     width="100%"
     height="100%">
    <g class="sl-board-row"
       data-ng-repeat="row in spaces"
       data-ng-init="locationY = $index * spaceHeight">
        <g class="sl-board-column"
           data-ng-repeat="space in row track by space.id"
           data-ng-class="space.id % 2 ? 'sl-board-column-odd' : 'sl-board-column-even'"
           sl-board-space
           data-number="space.id"
           data-location-x="$index * spaceWidth"
           data-location-y="locationY"
           data-width="spaceWidth"
           data-height="spaceHeight">
        </g>
    </g>
    <g class="sl-snake"
       data-ng-repeat="snake in snakes"
       sl-snake
       data-space-width="spaceWidth"
       data-space-height="spaceHeight"
       data-from-space="snake.from"
       data-to-space="snake.to"
       data-spaces="spaces">
    </g>
    <g class="sl-ladder"
       data-ng-repeat="ladder in ladders"
       sl-ladder
       data-space-width="spaceWidth"
       data-space-height="spaceHeight"
       data-from-space="ladder.from"
       data-to-space="ladder.to"
       data-spaces="spaces">
    </g>
    <g class="sl-peg"
       data-ng-repeat="player in players"
       sl-peg
       data-player="player"
       data-spaces="spaces"
       data-space-width="spaceWidth"
       data-space-height="spaceHeight">
    </g>
</svg>