<!-- variable 'dice' is DiceController -->
<div class="sl-dice"
     data-ng-class="dice.rolling ? 'sl-dice-roll' : 'sl-dice-roll' + dice.rolled"
     data-ng-click="dice.roll()">
    <div class="sl-dice-face sl-dice-face-1">1</div>
    <div class="sl-dice-face sl-dice-face-2">2</div>
    <div class="sl-dice-face sl-dice-face-3">3</div>
    <div class="sl-dice-face sl-dice-face-4">4</div>
    <div class="sl-dice-face sl-dice-face-5">5</div>
    <div class="sl-dice-face sl-dice-face-6">6</div>
</div>