html,
body,
main {
  height: 100%;
}

main.container > section {
  min-height: 500px;
}

.container > section,
.container > aside {
  padding: 15px;
}

// desktop only
@media (min-width: 992px) {
  .container > section,
  .container > aside {
    height: 100%;
  }
}